$dark-blue: #22314E;
$blue: #3C648E;
$green: #AFC5C4;
$aqua: #ECF0F0;
$light-blue: #F4F6F8;
$qrlink: #E40046;

*{
  
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
  user-select: initial;
  scrollbar-width: 10px;
}

body{
  background-color: white;
  color: $dark-blue;
}

p{
  line-height: 30px;
}
h3{
  font-weight: lighter;
}

// nav

ul{
  list-style: none;
}
.nav{
  right: 50px;
  top: 100px;
  position: absolute;
  position: fixed;
}

.nav li{
  padding: 12px 0px;
}

.page:first-child{
  text-align: right;
}

.page{
  font-size: 15pt;
  cursor: pointer;
  padding-bottom: 8px;
  width: 110px;
  text-decoration: none;
  color: $dark-blue;
  border: none;
  background-color: transparent;
}

.is-active button {
  color: $blue;
  font-weight: bold;
}

.bu{
  position: fixed;
  border-radius: 40px;
  background: $dark-blue;
  color: white;
  text-align: center;
  z-index: 200;
  bottom: 20px;
}

.nav li a button:hover{
  color: $blue;
}


button:focus{
  outline:0;
}

.nameNav{
  text-decoration: none;
}

.iconName{
  text-decoration: none;
  padding-top: 12px;
  text-align: center;
  font-size: 18pt;
}

.nav-icon {
  width: 20px;
  position: fixed;
  color: $dark-blue;
  z-index: 300;
  right: 8%;
  top: 25px;
}

.nav-icon:after, 
.nav-icon:before, 
.nav-icon div {
  background-color: $dark-blue;
  border-radius: 3px;
  content: '';
  display: block;
  height: 2px;
  margin: 4px 0;
  transition: all .2s ease-in-out;
}

.navMobile{
  text-decoration: none;
  font-size: 14px;
  display: grid;
  grid-template-rows: 60px 60px 60px 60px 60px 60px 60px 60px;
  grid-row-gap: 15px;
  text-align: center;
  width: 80%;
  position: fixed;
  z-index: 200;
  background-color: white;
  height: 100vh;
  padding: 0 10%;
}

.iconName{
  color: $dark-blue;
  background-color: white;
  border: none;
}

@keyframes navMobile {
  100% { transform: translateX(0%); }
}

.navMobile li{
  text-align: center;
}

.navMobile{
  transform: translateX(120%);
  animation: navMobile 0.6s ease-in-out forwards;
  -webkit-animation: navMobile 0.6s ease-in-out forwards;
}



.notShowMenuMobile {
  display: none;
}

.cross:before {
  transform: translateY(6px) rotate(135deg);
}

.cross:after {
  transform: translateY(-6px) rotate(-135deg);
}

.cross div {
  transform: scale(0);
}

.is-active button {
  border-bottom: 1px solid $qrlink;
  width: initial;
}

.ctLogo{
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  padding-top: 20px;
  padding-left: 8%;
  font-size: 18pt;
}












.mainContainer{
  width: 100%;
  height: fit-content;
}
.intro{
  margin: 40px auto;
  border-radius: 20px;
  width: 95%;
  height: 600px;
  background-color: $aqua;
}

.name{
  padding-bottom: 40px;
  font-size: 100pt;
}

.introText{
  width: 30%;
}

.introText p{
  font-size: 15pt;
  line-height: 30px;
}

.name h1{
  font-size: 100pt;
  line-height: 100px;
  font-family: 'Times New Roman', serif;
  font-weight: lighter;
}

.name h2{
  font-size: 43pt;
  line-height: 80px;
  font-family: 'Times New Roman', serif;
  font-weight: lighter;
}

.leftIntro{
  padding: 100px;
}

.imageHome{
  position: absolute;
  right: 110px;
  top: 100px;
}

.imageFrontpage{
  width: 900px;
  height: 600px;
  border: none;
}

.buttonHome{
  margin-top: 60px;
  display: block;
  cursor: pointer;
  font-size: 1.2rem;
  color: white;
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 40px;
  background-color: $blue;  
  box-shadow: 0px 20px 25px 1px #3c648e6b;
  text-decoration: none;
}

.buttonHome:hover{
  background-color: $dark-blue;
}

// QR-Link

.qrlink{
  margin: 10% 0%;
}
.qrlinkLogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-bottom: 30px;
}
.qrlinkText{
  margin: auto;
  text-align: center;
  width: 50%;
}

.buttonQrlink{
  margin: 50px auto;
  width: 50%;
  display: block;
  cursor: pointer;
  font-size: 1.2rem;
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 40px;
  background-color: $qrlink;  
  box-shadow: 0px 20px 25px 1px #e400443d;
  text-decoration: none;
  color: white;
}

.buttonQrlink:hover{
  background-color: #b10035;  
}


// Aceworks

.aceworks{
  background-color: $green;
  margin: 40px auto;
  border-radius: 5px;
  width: 95%;
  height: 550px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.aceworksLeft{
  padding: 15%;
}
.aceworksLogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-bottom: 40px;
}
.aceworksText{
  text-align: justify;
}
.aceworksText p{
  color: white;
}

.buttonAceworks{
  margin: 50px auto;
  width: 50%;
  display: block;
  cursor: pointer;
  font-size: 1.2rem;
  color: white;
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 40px;
  background-color: $dark-blue;  
  box-shadow: 0px 20px 25px 1px#3c648e6b;
  text-decoration: none;
}

.buttonAceworks:hover{
  background-color: #17233a;  
}

.aceworksImg{
  padding-top: 12%;
  width: 80%;
}

// Skills

.skills{
  display: grid;
  grid-row-gap: 40px;
  grid-row: 100px 100px;
  width: 75%;
  margin: 8% 5%;
}

.row1, .row2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.card{
  width: 260px;
  height: 280px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px 1px#63768a2f;
}

.card p{
  font-size: 15pt;
  display: block;
  margin: 20px auto 50px auto;
  width: fit-content;
}

.skillsImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

// Track

.track{
  background-color: $light-blue;
  margin: 40px auto;
  border-radius: 5px;
  width: 95%;
  height: 450px;
}

.trackContent{
  padding: 6%;
  margin: auto;
  text-align: center;

}
.trackLogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  margin-bottom: 30px;
}
.trackText{
  margin: auto;
  text-align: center;
  width: 60%;
}

// Teqram

.teqram{
  border-radius: 5px;
  width: 85%;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.robot{
  width: 100%;

  display: inline;
}
.robotMobile{
  display: none;
}

.teqramRight{
  padding: 15%;
  margin: auto;
  width: 70%;
}

.teqramRight img,h3{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  width: 70%;
  text-align: center;
}

.teqramLogo{
  padding: 20px 0px;
  margin: auto;
  width: 70%;
}

.teqramText{
  text-align: justify;
}

// School

.school{
  background-color: $aqua;
  margin: 0px auto 120px auto;
  border-radius: 5px;
  width: 95%;
  height: 900px;
}

.schoolTitle{
  padding: 5%;
  font-weight: lighter;
  text-align: center;
}
.textSchool{
  margin: 10% 10% 5% 25%;
  text-align: right;
}

.textSchool h1{
  margin-bottom: 20px;
  font-weight: normal;
}

.chess{
  width: 400px;
}

.part1School{
  display: grid;
  grid-template-columns: 45% 55%;
  padding-bottom: 50px;
}




// Contact

.contact{
  background-color: $light-blue;
  height: 320px;
}

.contactContent{
  padding-top: 90px;
}

.buttons{
  margin: 50px auto;
  width: 20%;
  cursor: pointer;
  display: grid;
  grid-template-columns: 75% 15%;
  grid-gap: 10%;
}

.buttonContact{
  font-size: 1.2rem;
  color: white;
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 40px;
  background-color: $blue;  
  box-shadow: 0px 20px 25px 1px#3c648e75;
  text-decoration: none;
}

.buttonContact:hover{
  background-color: $dark-blue;  
}

.linkedin svg{
  height: 50px;
  //box-shadow: 0px 20px 25px 1px#3c648e75;
}

.chiel{
  width: 40%;
  position: absolute;
}
.contact p{
  margin: auto;
  text-align: center;
  width: 60%;
  font-size: 15pt;
}



@media screen and (max-width: 1000px) {
  .nav{
    display: none;
  }
  .menuMobile{
    top:0;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 74px;
    z-index: 20;
  }

  .intro{
    width: 100%;
    border-radius: 50px;
  }

  .imageHome{
    margin: auto;
    width: 50%;
    transform: scaleY(0.5) scaleX(0.5);
  }

  .leftIntro {
    padding: 15%;
    margin-top: 80px;
    // width: 100%;
    // display: block;
} 
  
  .introText{
    width: 100%;
  }
  
  .introText p{
    font-size: 15pt;
    line-height: 30px;
    text-align: justify;
  }
  
  .name h1{
    font-size: 50pt;
    line-height: 30px;
    font-family: 'Times New Roman', serif;
    font-weight: lighter;
    text-align: center;
  }
  
  .name h2{
    font-size: 21pt;
    font-family: 'Times New Roman', serif;
    font-weight: lighter;
    text-align: center;
  }

  .buttonHome {
    margin:  auto;
    width: 90%;
    margin-top: 160px;
  }

  .qrlink {
    margin: 20% 15%;
  }

  .qrlinkLogo {
    width: 70%;
  }

  .qrlinkText {
    text-align: justify;
    width: 100%;
  }

  .buttonQrlink {
    margin: auto;
    width: 90%;
    margin-top: 50px;
  }


  .aceworks {
    background-color: $green;
    margin: 40px auto;
    border-radius: 5px;
    width: 100%;
    height: 550px;
    display: inline;

  }

  .aceworksLeft {
    padding: 15% 15% 5% 15%;
    background-color:$green;
  }

  .aceworksImg {
    padding-top: 0%;
    padding-bottom: 10%;
    width: 100%;
    background-color: $green;
  }

  .buttonAceworks {
    width: 90%;
  }  
  .skillsImg{
    width: 30%;
  }

  .skills {
    display: inline !important;
  }

  .row1{
    display: inline !important;
  }

  .row2 {
    display: inline !important;   
  }

  .card {
    margin: auto;
    width: 80%;
  }

  .track {
    height: fit-content;
    width: 100%;
    margin: 40px 0;
}

  .trackContent {
    padding: 15%;
  }

   .trackLogo {
      width: 80%;
      margin-bottom: 30px;
  }
  .trackText {
    text-align: justify;
    width: 100%;
  }

  .teqram{
    width: 70%;
    display: block;

    padding-top: 15%;
     margin: auto;
  }
  
  .teqramRight {
    padding: 0;
    margin: 0;
    border-radius: 5px;
    
    width: 100%;
    height: fit-content;
    display: block;
  }

  .teqramRight img, h3 {
    padding: 10px 0;
    width: 80%;
  }
  .robot {
    display: none;
  }
  .robotMobile{
    display: inline;
    padding-top: 30px;
    margin-bottom: -6px;
  }

  .school {
    border-radius: 0px;
    width: 100%;
    height: fit-content;
    padding-bottom: 50px;
  }

  .part1School {
    display: inline;
  }

  .textSchool {
    margin: 5% 10%;
    text-align: justify;
  }

  .chess {
    margin: auto;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

  .contact p {
    margin: auto;
    text-align: center;
    width: 100%;
    font-size: 15pt;
  }

  .buttons {
    margin: 50px auto;
    width: 80%;
    cursor: pointer;
    display: grid;
    grid-template-columns: 80% 20%;
}

  .buttonContact2 {
    margin: auto;
    width: 90%;
    margin-top: 50px;
  }


}

@media screen and (max-width: 600px) {

  .skills {
    display: inline !important;
  }

  .row1{
    display: inline !important;
  }

  .row2 {
    display: inline !important;   
  }

  .card {
    margin: auto;
    width: 80%;
  }
  .skillsImg{
    width: 60%;
  }
  .textSchool {
    margin: 15%;
    text-align: justify;
  }

  .schoolTitle {
    padding-top: 15%;
  }

}