$dark-blue: #22314E;
$blue: #3C648E;
$green: #AFC5C4;
$aqua: #ECF0F0;
$light-blue: #ECF0F0;
$qrlink: #E40046;

*{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
  user-select: initial;
  scrollbar-width: 10px;
}
body{
  color: $dark-blue;
  color: $dark-blue;
}